@import "common";

@xxl-header-size: 64px;
@xl-header-size: 48px;
@l-header-size: 38px;
@m-header-size: 26px;
@s-header-size: 20px;
@xs-header-size: 18px;
@xxs-header-size: 15px;
@main-text-size: 19px;
@border-color: rgba(255, 255, 255, 0.3);
@border-color-bl: rgba(0, 0, 0, 0.1);
@bkg-color-grey: #f7f8fc;
@text-color-grey: #516381;
@font-selector: subtitle;
.@{font-selector} {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1.4em;
}

.my-hover-mixins () {
  &:hover {
    transform: scale(1.05);
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

body {
  font-family: "Inter", serif;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

section.hero {
  //need to add filter
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url(../images/about-bkg.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: -999;
  display: grid;
  grid-template-rows: 25% auto 25%;
}

nav.header {
  height: 80px;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 80px 150px auto 200px 150px;
  z-index: 999;

  & .menu-btn {
    grid-column-start: 1;
    width: 80px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    & .material-symbols-outlined {
      line-height: 80px;
      color: black;
    }
  }

  & .nav-header {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    font-size: @s-header-size;
    font-weight: 400;
    span {
      font-weight: 700;
    }
  }

  & .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    column-gap: 50px;
    opacity: 0;
    font-size: @xxs-header-size;
    font-weight: 400;
  }

  & .option-btn {
    grid-column-start: 4;
    justify-self: end;
    align-self: center;
    padding: 12px;
    border: 1px solid @border-color;
    border-radius: 5px;
    cursor: pointer;
    & .material-symbols-outlined {
      font-size: 12px;
      vertical-align: middle;
    }
  }
}

div.header-scroll {
  height: 80px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: -80px;
  background-color: white;
  z-index: 998;
}

div.left-scroll {
  width: 79px;
  height: 100vh;
  border-right: 1px solid rgba(192, 192, 211, 0.2);
  position: fixed;
  display: grid;
  grid-template-rows: 120px auto 120px;
  z-index: 998;
  .scroll-bar {
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    width: 3px;
    height: 80%;
    border-radius: 2px;
    background-color: rgba(192, 192, 211, 0.2);
    .movable {
      width: 3px;
      height: 18%;
      background-color: #d2d2e0;
      border-radius: 2px;
    }
  }

  .social-account {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .social-icon {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 1px solid rgba(192, 192, 211, 0.2);
        text-align: center;
        cursor: pointer;
        img {
          height: 12px;
          width: 12px;
          vertical-align: middle;
        }
      }

      .social-icon:hover {
        background-color: #3572ff;
        transform: scale(1.05);
      }
    }
  }
}

.expand {
  width: 500px;
  height: 300px;
  background-color: white;
  color: black;
  border-radius: 15px;
  position: fixed;
  top: 80px;
  right: 100px;
  display: none;
  transition: all 0.5s;
  z-index: 999;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    & .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .deco-line {
        width: 60%;
        border-top: 1px solid @border-color-bl;
      }
    }

    & .location-card {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      & .location {
        width: 210px;
        height: 100px;
        border: 1px solid @border-color-bl;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;

        .title-box {
          .loc-title {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: @xs-header-size;
          }
        }

        .material-symbols-outlined {
          color: white;
        }
      }
      & .active {
        background: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-size: cover;
        background-repeat: no-repeat;
        color: #f7f8fc;
        transform: scale(15px);
      }
    }
  }
}

.expand-menu {
  width: 30vw;
  height: 100vh;
  background-color: white;
  color: black;
  position: fixed;
  text-align: center;
  left: -30vw;
  z-index: 999;
  transition: all 1s;
  .exit-btn {
    height: 80px;
    width: 80px;
    cursor: pointer;

    & .material-symbols-outlined {
      display: block;
      line-height: 80px;
      color: black;
    }
  }

  h2 {
    color: black;
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  & .menu-container {
    height: 70%;
    position: absolute;
    left: 80px;
    overflow-y: scroll;
    .container {
      text-align: left;

      .location {
        height: 90px;
        width: 20vw;
        border: 1px solid @border-color-bl;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: all 0.3s ease;
        .title-box {
          .loc-title {
            font-size: @xs-header-size;
            font-weight: 500;
          }
        }
        .material-symbols-outlined {
          font-weight: 300;
          color: white;
        }
      }

      .location.active {
        background: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-size: cover;
        background-repeat: no-repeat;
        color: #f7f8fc;
        transform: scale(15px);
      }

      .contact {
        height: 45px;
        width: 20vw;
        border: 1px solid @border-color-bl;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .contact-text {
          font-size: @xxs-header-size;
        }
      }

      .material-symbols-outlined {
        font-weight: 300;
      }
    }
  }
}

.index-main {
  max-width: 80%;
  margin: auto;
  grid-row: 2/3;
  text-align: center;
  font-size: @l-header-size;
}

section.blog {
  width: 100vw;
  height: 60vh;
  color: #081c3a;
  text-align: left;
  .blog-info {
    background-color: #fff;
    transform: translateY(-50px);
    max-width: 70%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    position: relative;
    .blog-container {
      width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .subtitle {
        text-align: center;
        margin-top: 30px;
      }
      .blog-content {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .blog-left {
          width: 480px;
          height: 400px;
          h2 {
            font-size: @xl-header-size;
            font-weight: 650;
          }
          & .text {
            color: @text-color-grey;
            font-size: @main-text-size;
            line-height: 30px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          & .option-btn {
            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 8px;
            color: #f7f8fc;
            background-color: #3572ff;
          }
        }
        .blog-right {
          width: 50%;
          height: 400px;
          background-image: url(../about-page/blog-image.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 5px;
        }
      }
    }
  }
}

section.mission {
  width: 95vw;
  height: 150vh;
  margin-left: 80px;
  color: #081c3a;
  background-color: #f7f8fc;
  text-align: center;
  .mission-container {
    max-width: 80%;
    height: 90%;
    margin: auto;
    .mission-text {
      padding-top: 120px;
      width: 50%;
      height: 30%;
      margin: auto;
      h2 {
        font-size: @xl-header-size;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .text {
        line-height: 30px;
        font-size: 18px;
        font-weight: 400;
      }
    }

    .gallery {
      width: 100%;
      height: 60%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 18px;
      .picture {
        border-radius: 5px;
        background-size: cover;
        background-position: center;
      }
      :first-child {
        background-image: url(../about-page/gallery/picture1.jpg);
        margin-top: 36px;
        margin-bottom: 36px;
      }
      :nth-child(2) {
        grid-column: 2/4;
        background-image: url(../about-page/gallery/picture2.jpg);
      }
      :nth-child(3) {
        background-image: url(../about-page/gallery/picture3.jpg);
        margin-top: 36px;
        margin-bottom: 36px;
      }
      :nth-child(4) {
        background-image: url(../about-page/gallery/picture4.jpg);
        margin-top: -36px;
        overflow: hidden;
      }
      :nth-child(5) {
        background-image: url(../about-page/gallery/picture5.jpg);
      }
      :nth-child(6) {
        background-image: url(../about-page/gallery/picture6.jpg);
      }
      :nth-child(7) {
        background-image: url(../about-page/gallery/picture7.jpg);
        margin-top: -36px;
        overflow: hidden;
      }
    }
  }
}

section.no-paddings {
  width: 95vw;
  height: 70vh;
  margin-left: 80px;
  background: url(../images/main-bkg-greece.jpg) rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  text-align: center;

  .no-padding-container {
    max-width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    .titles {
      width: 70%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font-size: @xl-header-size;
        font-weight: 600;
        margin-bottom: 20px;
      }

      p {
        line-height: 30px;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

section.meet-our-team {
  height: 70vh;
  width: 95vw;
  margin-left: 80px;
  color: #081c3a;
  background-color: #f7f8fc;
  .container {
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    transform: translateY(-150px);
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .subtitle {
        margin-bottom: 0;
      }
      .deco-line {
        width: 60%;
        border-top: 1px solid @border-color-bl;
      }

      .option-btn {
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid @border-color-bl;
        cursor: pointer;
      }
      .option-btn:hover {
        color: #fff;
        background-color: #081c3a;
      }
    }
    .team-box {
      height: 450px;
      width: 100%;
      margin: auto;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .member-card {
        transition: all 0.5s ease;
        .my-hover-mixins();
        height: 100%;
        width: 25%;
        position: relative;
        border-radius: 10px;
        .member {
          position: absolute;
          height: 93%;
          width: 90%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .member-image {
            height: 80%;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.8s ease;
            }
            img:hover {
              transform: scale(1.1);
            }
          }

          .member-name {
            font-size: 20px;
            font-weight: 500;
            margin-top: 15px;
          }

          .member-location {
            color: #516381;
            font-size: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

footer {
  height: 120px;
  width: 100vw;
  margin-left: 80px;
  border-top: 1px solid rgba(192, 192, 211, 0.2);
  color: #081c3a;

  .footer-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 18px;
    grid-column-gap: 24px;
    padding-top: 48px;

    ul {
      display: flex;
      text-align: center;

      :first-child {
        width: 150px;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        background-color: #f7f8fc;
        border-radius: 5px;
        cursor: pointer;
      }
      :nth-child(2) {
        width: 100px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
      }
      :nth-child(3) {
        width: 120px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
      }
      :nth-child(4) {
        width: 100px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
      }

      :nth-child(5) {
        width: 80px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
      }

      .footer-list:hover {
        background-color: #f7f8fc;
        transition: all 0.5s ease;
      }
    }

    .logo {
      grid-column: 2/3;
      justify-self: end;
      align-self: center;
      font-size: @s-header-size;
      font-weight: 400;
      span {
        font-weight: 700;
      }
    }

    .copyright {
      grid-column: 2/3;
      justify-self: end;
    }
  }
}
