@import "common";

@xxl-header-size: 54px;
@font-selector: subtitle;
.@{font-selector} {
    font-size: 11px;
    line-height: 1.4em;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}
body {
  height: 3000px;
  font-family: 'Inter', serif;
  color: rgb(255, 255, 255);
}
section.hero {
  //need to add filter
  background-image: url(../images/greece.jpg);
  background-size: cover;
  height: 100vh;
  z-index: -999;
}
nav.header {
  height: 80px;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 80px 150px auto 250px;
  z-index: 999;

  & .menu-btn {
    grid-column-start: 1;
    width: 80px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    & .material-symbols-outlined {
      line-height: 80px;
      color:black;
    }
  }

  & .nav-header {
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
  }

  & .navigation {
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    column-gap: 20px;
    opacity: 0;
  }

  & .option-btn {
    grid-column-start: 4;
    justify-self: start;
    align-self: center;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
  }
}

div.header-scroll {
  height: 80px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: -80px;
  background-color: white;
  z-index: 0;

}

section.hero {
  display: grid;
  grid-template-rows: 80px auto 100px;
  grid-template-columns: 80px 150px auto 250px;

  & nav.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  & div.index-title {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    align-self: center;
  }
  & div.options-slider {
    grid-row-start: 3;
    grid-column-start: 4;
  }
}

.index-title {
    h1 {
        font-size: @xxl-header-size;
    }
}