* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
button {
  border: none;
}
.subtitle {
  font-size: 11px;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1.4em;
}
body {
  font-family: "Inter", serif;
  color: #ffffff;
  overflow-x: hidden;
}
section.hero {
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-image: url(../images/main-bkg-greece.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: -999;
  display: grid;
  grid-template-rows: 25% auto 25%;
  grid-template-columns: 80px auto 80px;
}
nav.header {
  height: 80px;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 80px 150px auto 200px 150px;
  z-index: 999;
}
nav.header .menu-btn {
  grid-column-start: 1;
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}
nav.header .menu-btn .material-symbols-outlined {
  line-height: 80px;
  color: black;
}
nav.header .nav-header {
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
}
nav.header .nav-header a {
  color: #ffffff;
}
nav.header .nav-header a span {
  font-weight: 700;
}
nav.header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  column-gap: 50px;
  opacity: 0;
  font-size: 15px;
  font-weight: 400;
}
nav.header .option-btn {
  grid-column-start: 4;
  justify-self: end;
  align-self: center;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
nav.header .option-btn .material-symbols-outlined {
  font-size: 12px;
  vertical-align: middle;
}
div.header-scroll {
  height: 80px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: -80px;
  background-color: white;
  z-index: 998;
}
div.left-scroll {
  width: 79px;
  height: 100vh;
  border-right: 1px solid rgba(192, 192, 211, 0.2);
  position: fixed;
  display: grid;
  grid-template-rows: 120px auto 120px;
  z-index: 998;
}
div.left-scroll .scroll-bar {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  width: 3px;
  height: 90%;
  border-radius: 2px;
  background-color: rgba(192, 192, 211, 0.2);
}
div.left-scroll .scroll-bar .movable {
  width: 3px;
  height: 18%;
  background-color: #d2d2e0;
  border-radius: 2px;
}
div.left-scroll .social-account {
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
}
div.left-scroll .social-account ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div.left-scroll .social-account ul .social-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(192, 192, 211, 0.2);
  text-align: center;
  cursor: pointer;
}
div.left-scroll .social-account ul .social-icon img {
  height: 12px;
  width: 12px;
  vertical-align: middle;
}
div.left-scroll .social-account ul .social-icon:hover {
  background-color: #3572ff;
  transform: scale(1.05);
}
.index-title {
  max-width: 1200px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 600px 400px;
  column-gap: 80px;
  margin: auto;
  padding-left: 80px;
}
.index-title h1 {
  font-size: 64px;
}
.index-title .contact-us {
  display: inline-block;
  color: black;
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
}
.index-title .titles {
  grid-column: 1/2;
  align-self: center;
}
.video-section {
  justify-self: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transition: all 1s;
  position: relative;
}
.video-section .video-section-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  transition: all 1s;
}
.video-section .video-section-light .video-wrapper {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-section .video-section-light .video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(0.5);
  opacity: 0;
  transition: all 1s;
}
.video-section .video-section-light .video-wrapper video.active {
  opacity: 1;
  transform: scale(1, 1);
}
.video-section .video-section-light.active {
  opacity: 1;
  background-color: #516381;
  animation: innerRingMove 1s infinite alternate;
}
.video-section .video-button {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-section .video-button .video-button-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-section .video-button .video-button-inner img {
  width: 20%;
  height: 20%;
}
.video-section.active {
  opacity: 1;
  background-color: rgba(192, 192, 211, 0.2);
  animation: outerRingMove 1s infinite alternate-reverse;
}
.video-button.active {
  background-color: #f7f8fc;
  border: none;
  transform: translate(-50%, -50%) scale(0.8);
}
.video-button.active .video-button-inner {
  background-color: #081c3a;
}
/*rings animation*/
@keyframes innerRingMove {
  from {
    width: 350px;
    height: 350px;
  }
  to {
    width: 400px;
    height: 400px;
  }
}
@keyframes outerRingMove {
  from {
    width: 400px;
    height: 400px;
  }
  to {
    width: 400px;
    height: 400px;
  }
}
.expand {
  width: 500px;
  height: 300px;
  background-color: white;
  color: black;
  border-radius: 15px;
  position: fixed;
  top: 100px;
  right: 100px;
  display: none;
  transition: all 0.5s ease;
  animation: fade-in-card 0.8s;
  z-index: 999;
}
.expand .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
}
.expand .container .title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expand .container .title p.subtitle {
  margin-bottom: 0;
}
.expand .container .title .deco-line {
  width: 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.expand .container .location-card {
  width: 100%;
  height: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.expand .container .location-card .location {
  width: 210px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.expand .container .location-card .location .title-box {
  height: 50%;
}
.expand .container .location-card .location .title-box .loc-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
.expand .container .location-card .location .material-symbols-outlined {
  font-weight: 300;
  opacity: 0;
}
.expand .container .location-card .active {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f7f8fc;
  transform: scale(1.05);
}
.expand .container .location-card .active .material-symbols-outlined {
  opacity: 1;
  animation: fade-in 0.8s;
}
.expand-menu {
  width: 30vw;
  height: 100vh;
  background-color: white;
  color: #081c3a;
  position: fixed;
  text-align: center;
  left: -40vw;
  z-index: 999;
  transition: all 1s ease;
}
.expand-menu .exit-btn {
  height: 80px;
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.expand-menu .exit-btn .material-symbols-outlined {
  display: block;
  line-height: 80px;
  color: #081c3a;
}
.expand-menu div.wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
}
.expand-menu div.wrapper h2 {
  color: #081c3a;
  font-size: 30px;
  font-weight: 650;
}
.expand-menu div.wrapper .menu-container {
  height: 80%;
  width: 100%;
  margin: auto;
  padding-left: 35px;
  overflow-y: scroll;
}
.expand-menu div.wrapper .menu-container .container {
  margin-top: 45px;
  text-align: left;
}
.expand-menu div.wrapper .menu-container .container .title {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.expand-menu div.wrapper .menu-container .container .title p.subtitle {
  margin-bottom: 0;
}
.expand-menu div.wrapper .menu-container .container .title .deco-line {
  width: 80px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.expand-menu div.wrapper .menu-container .container .location {
  height: 90px;
  width: 20vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
}
.expand-menu div.wrapper .menu-container .container .location .title-box {
  height: 50%;
}
.expand-menu div.wrapper .menu-container .container .location .title-box .loc-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.expand-menu div.wrapper .menu-container .container .location .material-symbols-outlined {
  font-weight: 300;
  color: white;
  opacity: 0;
}
.expand-menu div.wrapper .menu-container .container .location.active {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f7f8fc;
  transform: scale(1.05);
}
.expand-menu div.wrapper .menu-container .container .location.active .material-symbols-outlined {
  animation: fade-in 0.8s;
}
.expand-menu div.wrapper .menu-container .container .contact {
  height: 45px;
  width: 20vw;
  background-color: #f7f8fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.8 ease;
}
.expand-menu div.wrapper .menu-container .container .contact .contact-text {
  font-size: 13px;
}
.expand-menu div.wrapper .menu-container .container .contact .material-symbols-outlined {
  font-size: 18px;
  font-weight: 200;
  opacity: 0;
}
.expand-menu div.wrapper .menu-container .container .contact.active .contact-text {
  animation: slide-left 0.8s;
  transform: translate(-5px);
}
.expand-menu div.wrapper .menu-container .container .contact.active .material-symbols-outlined {
  animation: fade-in 0.8s;
  opacity: 1;
  transform: translateX(5px);
}
@keyframes fade-in {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(5px);
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5px);
  }
}
div.slider-wrapper {
  height: 140px;
  width: 35%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 70px auto 20%;
  grid-template-rows: 50% 50%;
  text-align: center;
  color: #081c3a;
}
div.slide-button {
  grid-column: 1;
  grid-row: 1/3;
  background-color: #fff;
  width: 70px;
  height: 100%;
  border-radius: 5px 0 0 0;
  cursor: pointer;
}
div.slide-button .btn-action {
  width: 70px;
  height: 70px;
}
div.slide-button .btn-action .material-symbols-outlined {
  font-size: 20px;
  font-weight: 200;
  line-height: 70px;
}
.slide-button .btn-action:first-child {
  border-bottom: 1px solid #f7f8fc;
}
.slide-button #prev:hover {
  animation: slidePrev 1s;
}
.slide-button #next:hover {
  animation: slideNext 1s;
}
.slide-main {
  grid-column: 2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  color: #081c3a;
  align-self: center;
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slide-main .title {
  color: #fff;
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slide-main .title p.subtitle {
  margin-bottom: 0;
}
.slide-main .slide-main-location {
  font-weight: 600;
  font-size: 19px;
}
.direct-link {
  grid-column: 3;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}
.direct-link .material-symbols-outlined {
  font-size: 28px;
  font-weight: 300;
  line-height: 140px;
}
.direct-link:hover .material-symbols-outlined {
  animation: slideNext 1s;
}
@keyframes slidePrev {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes slideNext {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
section.across-world {
  height: 100vh;
  margin-left: 80px;
  color: #081c3a;
  text-align: center;
}
section.across-world .title {
  margin-top: 15vh;
  margin-bottom: 10vh;
}
section.across-world .title h2 {
  font-size: 48px;
  font-weight: 650;
  margin-top: 3vh;
}
.swiper {
  max-width: 100%;
  height: 65%;
  overflow-y: visible;
}
.swiper-wrapper {
  width: 100%;
  height: 80%;
}
.swiper-slide {
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.swiper-slide .titles {
  position: absolute;
  text-align: center;
  color: white;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
}
.swiper-slide .titles .loc-title {
  font-size: 26px;
  font-weight: 650;
  margin-top: 10px;
}
.swiper-slide.swiper-slide-active {
  transform: scale(1.2);
}
.nav-buttons {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  gap: 15px;
  transform: translate(-50%);
  z-index: 10;
}
.nav-buttons .swiper-custom-nav {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nav-buttons .swiper-custom-nav .material-symbols-outlined {
  font-size: 15px;
  line-height: 64px;
}
section.blog {
  width: 95vw;
  height: 120vh;
  background-color: #f7f8fc;
  color: #081c3a;
  overflow: hidden;
  margin-left: 80px;
}
section.blog .blog-info {
  height: 70vh;
  max-width: 80%;
  margin: auto;
  position: relative;
  text-align: left;
}
section.blog .blog-info .blog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
section.blog .blog-info .blog-container .blog-left {
  width: 480px;
  height: 400px;
}
section.blog .blog-info .blog-container .blog-left h2 {
  font-size: 48px;
  font-weight: 600;
}
section.blog .blog-info .blog-container .blog-left .text {
  color: #516381;
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
section.blog .blog-info .blog-container .blog-left .option-btn {
  width: 280px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  color: #f7f8fc;
  background-color: #3572ff;
  cursor: pointer;
}
section.blog .blog-info .blog-container .blog-left .option-btn .material-symbols-outlined {
  font-size: 11px;
  line-height: 11px;
}
section.blog .blog-info .blog-container .blog-left .option-btn:hover {
  background-color: #081c3a;
  transform: scale(1.01);
}
section.blog .blog-info .blog-container .blog-left .blog-expand {
  width: 500px;
  height: 300px;
  background-color: white;
  color: #081c3a;
  border-radius: 15px;
  position: sticky;
  top: 490px;
  left: 200px;
  display: none;
  transition: all 1s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .title p.subtitle {
  margin-bottom: 0;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .title .deco-line {
  width: 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card {
  width: 100%;
  height: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card .location {
  width: 210px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card .location .title-box {
  height: 50%;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card .location .title-box .loc-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card .location .material-symbols-outlined {
  font-weight: 300;
  opacity: 0;
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card .active {
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f7f8fc;
  transform: scale(15px);
}
section.blog .blog-info .blog-container .blog-left .blog-expand .container .location-card .active .material-symbols-outlined {
  opacity: 1;
  animation: fade-in 0.8s;
}
section.blog .blog-info .blog-container .blog-left .blog-expand.active {
  animation: fade-in-card 0.8s;
  display: block;
}
section.blog .blog-info .blog-container .blog-right {
  width: 50%;
  height: 400px;
  background-image: url(../images/blog-greece.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
}
section.blog .features {
  height: 90vh;
  max-width: 80%;
  margin: auto;
}
section.blog .features .feature-container {
  width: 100%;
  height: 35%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
section.blog .features .feature-container .feature {
  height: 100%;
  width: 24%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.5s ease;
}
section.blog .features .feature-container .feature .feature-icon {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #525a76;
  background-color: #f7f8fc;
  text-align: center;
}
section.blog .features .feature-container .feature .feature-icon .material-symbols-outlined {
  font-size: 28px;
  font-weight: 200;
  line-height: 50px;
}
section.blog .features .feature-container .feature h4 {
  font-size: 20px;
  font-weight: 500;
}
section.blog .features .feature-container .feature p {
  margin-top: 10px;
  font-size: 15px;
  color: #516381;
}
section.blog .features .feature-container div.feature:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feature.active {
  transform: scale(1.5);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@keyframes fade-in-card {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
section.testimony {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 80px 100px auto 100px 80px;
  grid-template-rows: 80px auto 80px;
  background-image: url("../images/testimony-bkg.jpg");
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
  background-size: cover;
}
section.testimony .number-tab {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
}
section.testimony .testimony-main {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}
.number-tab {
  width: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
.number-tab .tab-item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease;
}
.number-tab .tab-item.active {
  border-left: 2px solid white;
}
.testimony-main {
  height: 300px;
  position: relative;
  transition: all 0.3s ease;
  text-align: center;
  display: grid;
  grid-template-columns: 20% auto 20%;
}
.testimony-main .testimony-text {
  grid-column: 2/3;
  font-size: 20px;
  display: none;
  animation: fade-in-card 1s;
}
.testimony-main .testimony-text.active {
  display: block;
}
.testimony-main .testimony-text .client-name {
  margin-top: 23px;
  font-size: 23px;
  font-weight: 500;
}
.testimony-main .material-symbols-outlined {
  color: black;
}
section.popular-sites {
  width: 90vw;
  margin-left: 80px;
}
section.popular-sites .popular-container {
  transform: translateY(-120px);
  height: 80vh;
  max-width: 92%;
  color: #081c3a;
  margin: auto;
}
section.popular-sites .popular-container .popular-main {
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
section.popular-sites .popular-container .title {
  color: white;
}
.tab-titles {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding-top: 20px;
}
.tab-titles .tab-title {
  height: 100%;
  width: 22%;
  font-size: 12px;
  color: #516381;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.tab-titles .tab-title.active {
  color: black;
}
.click-bar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.click-bar .the-bar {
  width: 90%;
  height: 2px;
  margin: 0 auto;
  background-image: linear-gradient(to right, black 0 25%, rgba(0, 0, 0, 0.1) 25% 100%);
}
.click-bar ul.tab-dots {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.click-bar ul.tab-dots .tab-dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  position: relative;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}
.click-bar ul.tab-dots .tab-dot.active {
  opacity: 1;
  animation: expand 0.8s;
}
@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.click-bar ul.inner-dots {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.click-bar ul.inner-dots .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}
.click-bar ul.inner-dots .dot.active {
  background-color: black;
}
.popular-country {
  width: 90%;
  margin: 0 auto;
}
.popular-country .page {
  display: none;
}
.popular-country .page.active {
  display: flex;
  justify-content: space-around;
}
.popular-country .city-info {
  width: 31%;
  height: 450px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  transition: all 0.8s ease;
}
.popular-country .city-info .card-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popular-country .city-info .card-container .image {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  overflow: hidden;
}
.popular-country .city-info .card-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.popular-country .city-info .card-container .image img:hover {
  transform: scale(1.1);
}
.popular-country .city-info .card-container h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.popular-country .city-info .card-container p {
  font-size: 15px;
  color: #516381;
}
.popular-country .city-info .card-container .break-line {
  display: block;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.popular-country .city-info .card-container .card-bottom {
  margin-top: 20px;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popular-country .city-info .card-container .card-bottom .rate {
  font-size: 14px;
  width: 35%;
}
.popular-country .city-info .card-container .card-bottom .detailBtn {
  font-size: 10px;
  letter-spacing: 3px;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.popular-country .city-info .card-container .card-bottom .detailBtn:hover {
  color: white;
  background-color: #000;
}
.city-info:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section.no-paddings {
  width: 95vw;
  margin-left: 80px;
  margin-bottom: 100px;
  height: 65vh;
  background: url(../images/main-bkg-indonesia.jpg) rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  text-align: center;
}
section.no-paddings .no-padding-container {
  max-width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}
section.no-paddings .no-padding-container .titles {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.no-paddings .no-padding-container .titles h1 {
  font-size: 48px;
  font-weight: 550;
  margin-bottom: 30px;
}
section.no-paddings .no-padding-container .titles .contact-us {
  font-size: 10px;
  display: inline-block;
  width: 180px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  border-radius: 2px;
  margin-right: 20px;
  transition: all 0.5s ease;
}
section.no-paddings .no-padding-container .titles .howitwork {
  font-size: 10px;
  color: #f7f8fc;
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  transition: all 0.5s ease;
}
section.no-paddings .no-padding-container .titles .contact-us:hover {
  transform: scale(1.05);
}
section.no-paddings .no-padding-container .titles .howitwork:hover {
  transform: scale(1.05);
}
section.detailed-info {
  height: 70vh;
  width: 90vw;
  color: #081c3a;
  overflow-x: hidden;
  margin-left: 80px;
  margin-bottom: 100px;
}
section.detailed-info .container {
  max-width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
section.detailed-info .container .start-today-card {
  height: 620px;
  width: 550px;
  background-color: #f7f8fc;
  border-radius: 10px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  position: sticky;
  top: 0;
  overflow: hidden;
}
section.detailed-info .container .start-today-card .card-container {
  position: absolute;
  width: 93%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.detailed-info .container .start-today-card .card-container .card-picture {
  width: 100%;
  height: 35%;
  border-radius: 5px;
  background-image: url(../images/small-images/family.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}
section.detailed-info .container .start-today-card .card-container .card-text {
  padding: 0 20px;
}
section.detailed-info .container .start-today-card .card-container .card-text h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
}
section.detailed-info .container .start-today-card .card-container .card-text p.text {
  font-size: 18px;
  line-height: 25px;
  color: #516381;
  margin-bottom: 30px;
}
section.detailed-info .container .start-today-card .card-container .card-text .option-btn {
  font-size: 10px;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  color: #f7f8fc;
  background-color: #3572ff;
  cursor: pointer;
  transition: all 0.4s ease;
}
section.detailed-info .container .start-today-card .card-container .card-text .option-btn:hover {
  background-color: #081c3a;
  transform: scale(1.05);
}
section.detailed-info .container .step-card {
  position: relative;
  width: 700px;
  height: 160vh;
  border-left: 2px solid rgba(192, 192, 211, 0.2);
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
section.detailed-info .container .step-card .step {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
section.detailed-info .container .step-card .step .outer {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(192, 192, 211, 0.2);
  background-color: #fff;
  transition: all 1s;
}
section.detailed-info .container .step-card .step .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  transition: all 1s;
}
section.detailed-info .container .step-card .step:first-child {
  top: 100px;
}
section.detailed-info .container .step-card .step:nth-child(2) {
  top: 500px;
}
section.detailed-info .container .step-card .step:nth-child(3) {
  top: 850px;
}
section.detailed-info .container .step-card .step:nth-child(4) {
  top: 1200px;
}
section.detailed-info .box {
  width: 550px;
  height: 300px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  opacity: 0;
  transform: rotateZ(-30deg);
  transition: all 2s;
  transform-origin: 300px 50px;
  position: relative;
  top: 400px;
}
section.detailed-info .box .box-container {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.detailed-info .box .box-container .box-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(192, 192, 211, 0.2);
  text-align: center;
  background-color: #f7f8fc;
  margin-bottom: 50px;
}
section.detailed-info .box .box-container .box-icon span {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  color: #516381;
  font-weight: 700;
}
section.detailed-info .box .box-container h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
section.detailed-info .box .box-container p {
  font-size: 18px;
  line-height: 26px;
  color: #516381;
}
section.detailed-info .box.active {
  opacity: 1;
  top: 0px;
  transform: rotateZ(0deg);
}
.outer.active {
  transform: scale(2.5, 2.5);
}
.step-card .step .inner.active {
  top: 15px;
}
section.about-gallery {
  width: 100vw;
  height: 100vh;
}
section.about-gallery .container {
  width: 95vw;
  height: 100%;
  margin-left: 80px;
}
section.about-gallery .container .top-text {
  color: black;
  background-color: #f7f8fc;
  width: 100%;
  height: 55%;
  margin: auto;
  position: relative;
}
section.about-gallery .container .top-text .text-container {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
section.about-gallery .container .top-text .text-container .left-text {
  font-size: 34px;
  font-weight: 650;
}
section.about-gallery .container .top-text .text-container .right-text {
  font-size: 18px;
  color: #516381;
}
section.about-gallery .container .gallery {
  display: flex;
  height: 45%;
  transition: all 5s;
}
section.about-gallery .container .gallery .item {
  flex-shrink: 0;
  width: 480px;
  height: 100%;
  align-items: fit;
}
section.about-gallery .container .gallery .item img {
  width: 100%;
  height: 100%;
}
section.meet-our-team {
  height: 100vh;
  width: 95vw;
  margin-left: 80px;
  color: #081c3a;
  background-color: #f7f8fc;
}
section.meet-our-team .container {
  height: 100%;
  max-width: 90%;
  margin: auto;
  padding-top: 100px;
}
section.meet-our-team .container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
section.meet-our-team .container .title .subtitle {
  margin-bottom: 0;
}
section.meet-our-team .container .title .deco-line {
  width: 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
section.meet-our-team .container .title .option-btn {
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
section.meet-our-team .container .title .option-btn:hover {
  color: #fff;
  background-color: #081c3a;
}
section.meet-our-team .container .team-box {
  height: 450px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.meet-our-team .container .team-box .member-card {
  transition: all 0.5s ease;
  height: 100%;
  width: 25%;
  position: relative;
  border-radius: 10px;
}
section.meet-our-team .container .team-box .member-card:hover {
  transform: scale(1.05);
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section.meet-our-team .container .team-box .member-card .member {
  position: absolute;
  height: 93%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.meet-our-team .container .team-box .member-card .member .member-image {
  height: 80%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
section.meet-our-team .container .team-box .member-card .member .member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease;
}
section.meet-our-team .container .team-box .member-card .member .member-image img:hover {
  transform: scale(1.1);
}
section.meet-our-team .container .team-box .member-card .member .member-name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}
section.meet-our-team .container .team-box .member-card .member .member-location {
  color: #516381;
  font-size: 14px;
  margin-top: 10px;
}
section.article-post {
  height: 100vh;
  width: 95vw;
  margin-left: 80px;
  color: #081c3a;
}
section.article-post .container {
  transform: translateY(-70px);
  position: relative;
  height: 100%;
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
}
section.article-post .container .blog-container {
  position: absolute;
  height: 90%;
  width: 92%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
}
section.article-post .container .blog-container .feature-post {
  height: 100%;
  width: 55%;
}
section.article-post .container .blog-container .feature-post .feature-post-image {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
section.article-post .container .blog-container .feature-post .feature-post-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.8s ease;
}
section.article-post .container .blog-container .feature-post .feature-post-image img:hover {
  transform: scale(1.1);
}
section.article-post .container .blog-container .feature-post .feature-post-brief {
  transform: translateY(-80%) translateX(5%);
  height: 300px;
  width: 90%;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section.article-post .container .blog-container .feature-post .feature-post-brief .post-date {
  position: absolute;
  top: -10px;
  left: 5%;
  font-size: 9px;
  height: 20px;
  width: 130px;
  background-color: #f7f8fc;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
}
section.article-post .container .blog-container .feature-post .feature-post-brief .feature-box {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.article-post .container .blog-container .feature-post .feature-post-brief .feature-box h2 {
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section.article-post .container .blog-container .feature-post .feature-post-brief .feature-box p {
  font-size: 17px;
  color: #516381;
  line-height: 30px;
  margin-bottom: 20px;
}
section.article-post .container .blog-container .feature-post .feature-post-brief .feature-box .option-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
  cursor: pointer;
}
section.article-post .container .blog-container .feature-post .feature-post-brief .feature-box .option-btn:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}
section.article-post .container .blog-container .popular-post {
  height: 100%;
  width: 50%;
}
section.article-post .container .blog-container .popular-post .post-container {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.article-post .container .blog-container .popular-post .post-container .post {
  height: 150px;
  width: 500px;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease;
}
section.article-post .container .blog-container .popular-post .post-container .post .post-box {
  height: 98%;
  width: 98%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
section.article-post .container .blog-container .popular-post .post-container .post .post-box .post-image {
  height: 140px;
  width: 140px;
  border-radius: 5px;
  overflow: hidden;
}
section.article-post .container .blog-container .popular-post .post-container .post .post-box .post-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
section.article-post .container .blog-container .popular-post .post-container .post .post-box .post-image img:hover {
  transform: scale(1.1);
}
section.article-post .container .blog-container .popular-post .post-container .post .post-box .post-date {
  font-size: 9px;
  height: 20px;
  width: 130px;
  background-color: #f7f8fc;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
}
section.article-post .container .blog-container .popular-post .post-container .post .post-box h2 {
  font-size: 18px;
  font-weight: 500;
}
section.article-post .container .blog-container .popular-post .post-container .post:hover {
  transform: scale(1.05);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
footer {
  height: 120px;
  width: 100vw;
  margin-left: 80px;
  border-top: 1px solid rgba(192, 192, 211, 0.2);
  color: #081c3a;
}
footer .footer-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 18px;
  grid-column-gap: 24px;
  padding-top: 48px;
}
footer .footer-container ul {
  display: flex;
  text-align: center;
}
footer .footer-container ul :first-child {
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  background-color: #f7f8fc;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container ul :nth-child(2) {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container ul :nth-child(3) {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container ul :nth-child(4) {
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container ul :nth-child(5) {
  width: 80px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-container ul .footer-list:hover {
  background-color: #f7f8fc;
  transition: all 0.5s ease;
}
footer .footer-container .logo {
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  font-size: 20px;
  font-weight: 400;
}
footer .footer-container .logo span {
  font-weight: 700;
}
footer .footer-container .copyright {
  grid-column: 2/3;
  justify-self: end;
}
